<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>2</integer>
	<key>Battery_bar_chart_box</key>
	<false/>
	<key>Battery_bar_chart_color</key>
	<string>green</string>
	<key>Battery_bar_chart_frame</key>
	<true/>
	<key>Battery_bar_chart_label</key>
	<false/>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_additional</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_color</key>
	<true/>
	<key>Battery_battery_details_mode</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_battery_xlSize</key>
	<false/>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_notifications_low</key>
	<string>0.1</string>
	<key>Battery_oneView</key>
	<false/>
	<key>Battery_position</key>
	<integer>8</integer>
	<key>Battery_timeFormat</key>
	<string>short</string>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>Bluetooth_position</key>
	<integer>0</integer>
	<key>Bluetooth_sensors_alignment</key>
	<string>center</string>
	<key>Bluetooth_sensors_mode</key>
	<string>automatic</string>
	<key>Bluetooth_sensors_monospacedFont</key>
	<false/>
	<key>Bluetooth_sensors_size</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>2</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>2</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_position</key>
	<integer>7</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>GPU_position</key>
	<integer>3</integer>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>433</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>405 271 728 480 0 0 1470 922 </string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_connectivityMode</key>
	<string>icmp</string>
	<key>Network_interfaceDetails</key>
	<false/>
	<key>Network_position</key>
	<integer>1</integer>
	<key>Network_publicIP</key>
	<true/>
	<key>Network_reader</key>
	<string>interface</string>
	<key>Network_reverseOrder</key>
	<false/>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueColor</key>
	<string>default</string>
	<key>Network_state</key>
	<true/>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>Sensors_position</key>
	<integer>6</integer>
	<key>dockIcon</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1777459916</integer>
	<key>updater_check_ts</key>
	<integer>1777660421</integer>
	<key>version</key>
	<string>2.12.12</string>
</dict>
</plist>
